.card {
    background-color: black;
    width: 500px;
    text-align: center;
    border:2px solid rgb(5, 1, 1);
    border-radius: 60px;
}
img {
    width: 300px;
    border: 5px solid rgb(23, 1, 4);
    border-radius: 50%;
}
h1 {
    color: palevioletred;
}